In [ ]:
import pandas as pd
import numpy as np
import datetime

path = "C:\\Users\\ianto\Desktop\\Corsi\\CorsoPythonMachineLearning\\Script\\File\\"

#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [ ]:
def ImportFile(path):
            
    clienti = pd.read_csv(filepath_or_buffer = path + 'Clienti.csv',
            sep = ";", 
            header = 0,
            usecols = ["NumeroCliente","Nome","Cognome","DataNascita","Regione"],
            parse_dates = ["DataNascita"]
            )  
        
    clienti_index = pd.read_csv(filepath_or_buffer = path + 'Clienti.csv',
            sep = ";", 
            header = 0,
            usecols = ["NumeroCliente","Nome","DataNascita","Regione"],
            parse_dates = ["DataNascita"],
            index_col = "NumeroCliente"
            )   
    
    fatture = pd.read_csv(filepath_or_buffer = path + 'Fatture.csv',
            sep = ";",  #separtore del file
            header = None,
            names = ["NumeroFattura","Tipologia","Importo","Iva","IdCliente","ResidenzaCliente","DataFattura","NumeroFornitore"],
            decimal = ",", #separatore dei decimali il default è il .
            )
    
    fatture['DataFattura'] =  pd.to_datetime(fatture['DataFattura'],
                                             format="%d/%m/%Y"
                                            )  
    
    fatture['NumeroFornitore'] = fatture['NumeroFornitore'].astype('Int64')

    fatture['Iva'] = fatture['Iva'].fillna(0).astype(np.int64)
    
   
    fornitori = pd.read_csv(filepath_or_buffer = path + 'Fornitori.csv',
            sep = ";",  #separtore del file
            header = 0
            )
    
    fornitori['DataPrimaAcquisto'] =  pd.to_datetime(fornitori['DataPrimaAcquisto'],
                                                     format="%d/%m/%Y"
                                                    )
                                                     
    fornitori['DataFineContratto'] =  pd.to_datetime(fornitori['DataFineContratto'],
                                                     format="%d/%m/%Y"
                                                    )  

    return [clienti,clienti_index,fatture,fornitori]

In [ ]:
clienti,clienti_index,fatture,fornitori = ImportFile(path = path)

In [ ]:
clienti

# Selezionare e filtrare i dati

Estrarre le colonne NumeroClienti, Nome e regione dal dataframe Clienti

In [ ]:
#SELECT NumeroCliente, Nome, Regione 
#FROM   Clienti

clienti[["NumeroCliente", "Nome", "Regione"]]

Estrarre tutte le informazioni del dataframe clienti

In [ ]:
#SELECT * 
#FROM   Clienti

clienti

Estrarre tutte le informazioni dei clienti della regione Lazio

In [ ]:
#SELECT * 
#FROM   Clienti 
#WHERE  Regione='Lazio'

clienti[clienti["Regione"] == "Lazio"]

In [ ]:
clienti.query('Regione == "Lazio" and Nome == "Giovanni"') [["NumeroCliente", "Nome"]]

## Filtri con AND

Estrarre NumeroCliente e Nome dei clienti della regione Lazio che si chiamano Giovanni

In [ ]:
#SELECT NumeroCliente, 
#       Nome 
#FROM   Clienti 
#WHERE  Regione='Lazio'
#   AND Nome='Giovanni

clienti[(clienti["Regione"] == "Lazio") & (clienti["Nome"] == "Giovanni")] \
       [["NumeroCliente", "Nome"]]

In [ ]:
clienti.query('Regione == "Lazio" and Nome == "Giovanni"') [["NumeroCliente", "Nome"]]

## Filtri con OR

Estrarre NumeroCliente, Nome e regione dei clienti che soddisfano almeno
una delle seguenti proprietà:
1) sono della regione Lazio

2) si chiamano Giovanni

In [ ]:
#SELECT NumeroCliente,
#       Nome,
#       Regione
#FROM   Clienti 
#WHERE  Regione='Lazio'
#    OR Nome='Giovanni

clienti[(clienti["Regione"] == "Lazio") | (clienti["Nome"] == "Giovanni")] \
       [["NumeroCliente", "Nome", "Regione"]]

In [ ]:
clienti.query('Regione == "Lazio" or Nome == "Giovanni"') [["NumeroCliente", "Nome", "Regione"]]

## Filtri con isin

Estrarre  NumeroCliente, Nome e regione dei clienti residenti nel Lazio
o nel Piemonte

In [ ]:
#SELECT NumeroCliente, 
#       Nome, 
#       Regione
#FROM   Clienti 
#WHERE  Regione = 'Piemonte'
#    OR Regione='Lazio'
#oppure
#SELECT NumeroCliente, 
#       Nome, 
#       Regione
#FROM   Clienti 
#WHERE  Regione IN ('Piemonte', 'Lazio')

clienti[(clienti["Regione"] == "Piemonte") | (clienti["Regione"] == "Lazio")] \
       [["NumeroCliente", "Nome","Regione"]]

#oppure

clienti[clienti["Regione"].isin(["Piemonte","Lazio"])] \
       [["NumeroCliente", "Nome","Regione"]]

In [ ]:
clienti.query('Regione in ["Piemonte","Lazio"]')[["NumeroCliente", "Nome","Regione"]]

## Attenzione ai tipi!

In [ ]:
clienti[clienti["NumeroCliente"] == "3"] \
       [["Nome", "Regione"]]

In [ ]:
clienti.dtypes

In [ ]:
clienti2 = clienti.copy()
clienti2["NumeroCliente"] = clienti2["NumeroCliente"].astype(str)

In [ ]:
clienti2.dtypes

In [ ]:
clienti2[clienti2["NumeroCliente"] == 3] \
       [["Nome", "Regione"]]

## Attenzione ai null!

Null risulta diverso da Lazio (non accade lo stesso con l'SQL)

In [ ]:
clienti[(clienti["Regione"] != "Lazio")]

estrarre tutte le righe dove la regione è null

In [ ]:
#SELECT *
#FROM   Clienti 
#WHERE  Regione IS NULL

clienti[(clienti["Regione"].isna())]

In [ ]:
clienti.query("Regione.isna()")

Estrarre tutte le righe dove la regione non è null

In [ ]:
#SELECT *
#FROM   Clienti 
#WHERE  Regione IS NOT NULL

clienti[(clienti["Regione"].notna())]

In [ ]:
len(clienti.query("Regione.notna()"))

## Filtri su colonne di tipo datetime

Estrarre tutte le fatture emesse dopo il 3 marzo 2018

In [ ]:
fatture.dtypes

In [ ]:
#SQL
#SELECT *
#FROM   Fatture
#WHERE  DataFattura > '2018-03-01'

fatture[fatture["DataFattura"] > "2018-03-01"]

## Filtri su funzioni applicate a colonne

Estrarre tutte le fatture del 2018

In [ ]:
#SELECT *
#FROM   Fatture
#WHERE  YEAR(DataFattura) = 2018

fatture[fatture["DataFattura"].dt.year == 2018]

In [ ]:
fatture.query("DataFattura.dt.year == 2018")

# Aggregare i dati

## Contare il numero di righe

Contare il numero di righe del dataframe Fatture

In [ ]:
#SELECT COUNT(*)
#FROM   Fatture

len(fatture)

In [ ]:
#oppure
fatture.shape[0]

## Calcolare indici statistici di una colonna

Calcolare la somma della colonna Importo del dataframe Fatture

In [ ]:
#SELECT SUM(Importo)
#FROM   Fatture

fatture["Importo"].sum()

Calcolare la media della colonna Importo

In [ ]:
fatture["Importo"].mean()

## Calcolare indici statistici su tutte le colonne

Calcolare la somma di tutte le colonne

In [ ]:
fatture.sum()

Calcolare i principali indici statistici di tutte le colonne

In [ ]:
fatture.describe()

## Aggregare su una colonna

Calcolare il numero di Fatture per ogni fornitore

In [ ]:
fatture.groupby(by="NumeroFornitore",
                as_index=False, 
                dropna=False)["NumeroFattura"].size()

Altro metodo

In [ ]:
#SELECT   NumeroFornitore, count(*)
#FROM     Fatture
#GROUP BY NumeroFornitore;

fatture.groupby(by="NumeroFornitore",
                as_index=False, 
                dropna=False) \
       .agg(conteggio   = ("NumeroFattura",
                           np.size)
            )

I dati raggruppati si presentano ad essere rappresentati graficamente

In [ ]:
grafico = fatture.groupby(by="NumeroFornitore",
                          as_index=False, 
                          dropna=False) \
                 .size() 

grafico.plot(x = 'NumeroFornitore',
             y = 'size',
             kind = 'bar')

## Aggregare su due colonne

Calcolare per ogni coppia di Fornitore e Cliente:

- l'importo totale

- la media dell'importo

- il numero di fatture

In [ ]:
#SELECT   NumeroFornitore, 
#         IdCliente, 
#         SUM(Importo) as somma_importo, 
#         AVG(Importo) as media_importo,
#         COUNT(*) as conteggio
#FROM     Fatture
#GROUP BY NumeroFornitore, IdCliente;

fatture.groupby(by=["NumeroFornitore","IdCliente"], as_index=False, dropna=False) \
       .agg(  somma_importo  = ("Importo",
                              np.sum),
              media_importo = ("Importo",
                              np.mean),
              conteggio   = ("NumeroFattura",
                              np.size)
            )

## Un altro metodo per aggregare i dati

Quante righe ci sono per ogni fornitore?

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False).size()

Cambiamo il nome della colonna

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False).size().rename(columns={"size":"numero_totale"})

Riportare la somma della colonna importo e la somma della colonna importo al variare del fornitore

In [ ]:
fatture["Importo"].sum()

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False)["Importo"].sum()

Riportare la media di importo e iva al variare del fornitore

In [ ]:
fatture[["Importo","Iva"]].mean()

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False)[["Importo","Iva"]].mean()

Riportare la somma dell'importo e la media dell'iva al variare del fornitore

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False).agg({"Importo":"sum","Iva":"mean"})

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False).\
        agg({"Importo":"sum","Iva":"mean"}).\
        rename(columns={"Importo":"Somma importo", "Iva":"Media iva"})

Riportare il numero di clienti univoci e il numero di clienti univoci al variere del fornitore

In [ ]:
fatture["IdCliente"].nunique()

In [ ]:
fatture.groupby(by=["NumeroFornitore"], as_index=False, dropna=False)["IdCliente"].nunique()

Riportare il numero di regioni presenti nel Dataframe dei clienti

In [ ]:
clienti["Regione"].nunique()

In [ ]:
clienti[["Regione"]].drop_duplicates()

# Combinare dataframe differenti

Riportare in un solo dataframe tutte le colonne dei dataframe Fatture e Clienti.

In [ ]:
#SELECT     *
#FROM       Fatture
#INNER JOIN Clienti
# ON Fatture.IdCliente = Clienti.NumeroCliente

pd.merge(fatture, 
         clienti, 
         how = 'inner',
         left_on = "IdCliente", 
         right_on = "NumeroCliente")

Cosa succede se combiniamo Fatture e Fornitori? 

Ottengo un errore perché i tipi delle due colonne sono differenti

In [ ]:
#SELECT      *
#FROM        Fatture
#INNER JOIN  Fornitori
#         ON Fatture.NumeroFornitore = Fornitori.NumeroFornitore

pd.merge(fatture,
         fornitori, 
         how = 'inner',
         left_on = "NumeroFornitore",
         right_on = "NumeroFornitore")

Analizziamo i tipi

In [ ]:
fatture.dtypes

In [ ]:
fornitori.dtypes

Convertiamo la colonna NumeroFornitore del dataframe Fornitori in Int64

In [ ]:
fornitori['NumeroFornitore'] = fornitori['NumeroFornitore'].astype('Int64')

Ora funziona ma il risultato è corretto?

In [ ]:
pd.merge(fatture,
         fornitori,
         how = 'inner',
         left_on = "NumeroFornitore", 
         right_on = "NumeroFornitore")

In [ ]:
fatture[fatture["NumeroFattura"].isin([12,13])]

Come recupero le due fatture senza fornitori?

In [ ]:
#Come "recupero" le due fatture senza fornitore?
#SQL
#SELECT    *
#FROM      Fatture
#LEFT JOIN Fornitori
#       ON Fatture.NumeroFornitore = Fornitori.NumeroFornitore

pd.merge(fatture,
         fornitori,
         how = 'left',
         left_on = "NumeroFornitore",
         right_on = "NumeroFornitore")

Calcolare i clienti senza fatture associate

In [ ]:
#SQL
#SELECT    Clienti.NumeroCliente
#FROM      Clienti
#LEFT JOIN Fatture
#       ON Clienti.NumeroCliente = Fatture.IdCliente 
#WHERE     Fatture.IdCliente IS NULL

clienti_fatture = pd.merge(clienti, 
                          fatture["IdCliente"], 
                          how='left', 
                          left_on="NumeroCliente", 
                          right_on="IdCliente")

clienti_fatture[clienti_fatture["IdCliente"].isna()][["NumeroCliente"]]

## Unire dataframe

Uniamo verticalmente i cognomi dei clienti e le denominazioni dei fornitori

In [ ]:
pd.concat(objs = [clienti[["Cognome"]],fornitori[["Denominazione"]]],
          ignore_index = True)

Aggiungiamo ai clienti una colonna denominazione contenente la concatenazione di nome e cognome

In [ ]:
#SQL
#CONCAT(coalesce(Nome,''), ' ',coalesce(Cognome,''))

clienti["Denominazione"] = clienti["Nome"].fillna("") + " " + clienti["Cognome"].fillna("")

Ripetiamo il concat usando in entrambi i casi la colonna denominazione

In [ ]:
pd.concat(objs = [clienti[["Denominazione"]],fornitori[["Denominazione"]]],
          ignore_index = True)

Eliminiamo la colonna Denominazione

In [ ]:
clienti = clienti.drop(["Denominazione"],axis=1)

Attenzione ai tipi, tra colonne numeriche il più esegue l'addizione

In [ ]:
fatture["NumeroFattura"] + fatture["Iva"]

# Ordinare un dataframe

## Ordinare un dataframe per una colonna

Visualizzare le fatture dalla più recente alla meno recente

In [ ]:
#SQL
#SELECT *
#FROM   Fatture
#ORDER BY DataFattura DESC

fatture.sort_values(by=['DataFattura'], ascending=False)

Creare un nuovo dataframe con il nuovo ordine

In [ ]:
fatture_new = fatture.sort_values(by=['DataFattura'], ascending=False).copy()
fatture_new

Resettiamo l'indice di FattureNew

In [ ]:
fatture_new = fatture_new.reset_index(drop=True)
fatture_new

## Ordinare un dataframe in maniera randomica

Visualizzare il dataframe Fatture con un ordinamento randomico

In [ ]:
fatture.sample(frac=1,
               random_state=0 #per rendere l'ordinamento ripetibile)
              )

# Modificare un dataframe

## Copiare un dataframe

Copiare il dataframe Clienti in ClientiBis

In [ ]:
#SQL
#SELECT *
#INTO   ClientiBis
#FROM   Clienti

clienti_bis = clienti.copy()

## Convertire un dataframe in una lista di liste

Convertire il dataframe Clienti in una lista

In [ ]:
lista_clienti = clienti.values.tolist()

In [ ]:
type(lista_clienti)

In [ ]:
lista_clienti

## Convertire un dataframe in un array di numpy

Creare un array di numpy a partire dal dataframe clienti

In [ ]:
array = clienti.values

In [ ]:
type(array)

In [ ]:
array

## Creare un dataframe a partire da una lista

Creare un dataframe a partire da una lista, assegnando i nomi alle colonne

In [ ]:
new_df = pd.DataFrame(data = lista_clienti, 
                            columns = ['NumeroCliente', 'Nome', 'Cognome', 'DataNascita', 'Regione'] )

In [ ]:
new_df.dtypes

## Rinominare una colonna

Rinominare la colonna Iva del dataframe Fatture in Tax

In [ ]:
fatture = fatture.rename(columns={"Iva": "Tax"})

## Eliminare una colonna

Eliminare la colonna ResidenzaCliente dal dataframe Fatture

In [ ]:
#SQL
#ALTER TABLE Fatture
#DROP COLUMN ResidenzaCliente

fatture = fatture.drop(["ResidenzaCliente"],axis=1)

## Aggiornare una colonna

Modificare il nome di tutti i clienti della regione Lazio valorizzandolo con "Nicola"

In [ ]:
#SQL
#UPDATE Clienti
#SET    Nome = 'Nicola'
#WHERE  Regione = 'Lazio'

clienti.loc[clienti["Regione"] == "Lazio", "Nome"] = 'Nicola'

In [ ]:
clienti

In [ ]:
#oppure

clienti["Nome"] = np.where(clienti["Regione"] == "Lazio", "Nicola", clienti["Nome"]  )

## Aggiornare una colonna sostituendo i null con un valore

Sostituire i null presenti nella colonna Regione del dataframe Cliente con la stringa "Non conosciuta"

In [ ]:
#SQL
#UPDATE Clienti
#SET    Regione = COALESCE(Regione,'Non conosciuta')
#WHERE  Regione IS NULL

clienti["Regione"] = clienti["Regione"].fillna("Non conosciuta")

## Concatenare una colonna

Concatenare le colonne Denominazione e RegioneResidenza del dataframe fornitori.

Attenzione, in presenza di un null il risultato della concatenazione sarà null. Per evitare che ciò accada, il metodo fillna può essere usato per sostituire i null con ''.

In [ ]:
fornitori["ColonnaConcatenata"] = fornitori["Denominazione"].fillna("") + "," + fornitori["RegioneResidenza"].fillna("")
fornitori

## Splittare una colonna

Splittare tramite la virgola la colonna appena creata in due colonne: ColonnaSplit1 e ColonnaSplit2

In [ ]:
fornitori[["ColonnaSplit1","ColonnaSplit2"]] = fornitori["ColonnaConcatenata"].str.split(pat = ',', expand=True)
fornitori

## Creare una colonna in base ad una condizione

Creare nel dataframe Fatture la colonna TipologiaPrezzo contenente "Prezzo alto" se il valore della colonna Importo è maggiore di 50, "Prezzo basso" altrimenti.

In [ ]:
#SQL
#CASE WHEN Importo > 50 
#     THEN 'Prezzo alto'
#     ELSE 'Prezzo basso'
#END

fatture["TipologiaPrezzo"] = np.where(fatture["Importo"] > 50, "Prezzo alto", "Prezzo basso")
fatture

## Creare una colonna in base a più condizioni

Creare nel dataframe Fatture la colonna TipologiaPrezzo contenente:

- "Prezzo alto" se il valore della colonna Importo è maggiore di 50 

- "Prezzo medio" se è compreso tra 30(escluso) e 50(incluso)

- "Prezzo basso" se minore o uguale a 30

In [ ]:
fatture["TipologiaPrezzo2"] = np.select([fatture["Importo"] > 50, 
                                         (fatture["Importo"] > 30) & (fatture["Importo"] <=50),
                                         fatture["Importo"] <= 30],
                                         ["Prezzo alto", 
                                          "Prezzo medio",
                                          "Prezzo basso"],
                                          default='Non classificato')
fatture

## Creare colonne con porzioni di stringhe di un'altra colonna

Creare una colonna con le iniziali di nome e cognome per ogni cliente

In [ ]:
#SQL
#CONCAT(SUBSTRING(Nome,1,1),SUBSTRING(Cognome,1,1))

clienti["Iniziali"] =  clienti["Nome"].str.slice(start=0, stop =1) + clienti["Cognome"].str.slice(start=0, stop =1)
clienti

## Visualizzare i dati senza duplicati

Il prossimo codice visualizza le righe del DataFrame clienti senza duplicati (considerando i valori in tutte le colonne). 

ATTENZIONE! Per DataFrame con molte righe può essere un'operazione molto lunga

In [ ]:
clienti.drop_duplicates()

Più utile è utilizzare drop_duplicates per ottenere l'elenco di valori distinti in una colonna (o combinazione di colonne)

In [ ]:
#Elenco delle regioni presenti: primo metodo

clienti[["Regione"]].drop_duplicates()

In [ ]:
#Elenco delle regioni presenti: secondo metodo

clienti.drop_duplicates(subset=["Regione"], keep = "first")

In [ ]:
#Proviamo a ordinare prima il DataFrame

In [ ]:
clienti.sort_values(by="DataNascita",ascending=False).drop_duplicates(subset=["Regione"], keep = "first")